@model IEnumerable<CompanhiadoCacau.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="d-flex text-center">
        <h3>Produtos</h3>
        <a class="btn custom-btn-add ms-3" asp-action="Create">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <hr />
    <div class="box">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Valor)</th>
                        <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                            <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                            <td class="d-flex justify-content-between">
                                <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn btn-warning btn-rounded mr-2" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn btn-info btn-rounded mr-2" title="Visualizar">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn btn-danger btn-rounded" title="Excluir">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .box {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
        font-size: 1.1rem;
    }

    .custom-btn-add {
        color: black;
        border-left: none;
        cursor: pointer;
    }

    .custom-btn-add i {
        margin: 0;
    }

    .table-container {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .btn-rounded {
        border-radius: 10px;
    }

    .btn-info, .btn-warning, .btn-danger {
        padding: 8px 16px;
    }
</style>
