@model Pedido

@{
    ViewData["Title"] = "Detalhes do Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
	<h2 class="page-title">Detalhes do Pedido</h2>
    <hr />
<div class="form-container">
    <h3>Pedido: @Model.PedidoId</h3>
    <p><strong>Responsável Atendimento:</strong> @Model.ResponsavelAtendimento</p>
    <p><strong>Status:</strong> @Model.Status</p>
    <p><strong>Data do Pedido:</strong> @Model.DataPedido</p>

    <h4>Produtos no Pedido</h4>
    @if (Model.PedidoProdutos != null && Model.PedidoProdutos.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedidoProduto in Model.PedidoProdutos)
                {
                    <tr>
                        <td>@pedidoProduto.Produto.Nome</td>
                        <td>@pedidoProduto.Quantidade</td>
                        <td>@pedidoProduto.Produto.Valor.ToString("C2")</td>
                        <td>@((pedidoProduto.Quantidade * pedidoProduto.Produto.Valor).ToString("C2"))</td>

                    </tr>
                }
            </tbody>
        </table>

        <p><strong>Total do Pedido:</strong> @Model.PedidoProdutos.Sum(pp => pp.Quantidade * pp.Produto.Valor).ToString("C2")</p>
    }
    else
    {
        <p>Este pedido não possui produtos associados.</p>
    }

<a href="@Url.Action("Index", "Pedido")" class="btn btn-secondary">Voltar</a>
</div>
</div>

<style>
    .form-container {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
</style>
